img.icon
{
 width: 70px;
 height: 70px;
}

img.icon_gray
{
  opacity: 0.2;
}


/* Setup Table */

div.setup
{
  background: #fff;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
}

table.setup
{
  padding: 10px;
  left:10%;
  border-collapse: collapse;
}

table.setup td
{
  padding: 8px;
}

table.setup td.adapter
{
  vertical-align: middle;
  text-align: right;
  border-bottom: 1px solid LightGray;
  width: 50px;
}

td.adapter_last
{
  vertical-align: middle;
  text-align: right;
}

td.frontend
{
  border-bottom: 1px solid LightGray;
  font-size: 8pt;
  width: 30px;
}

td.frontend_last
{
  font-size: 8pt;
  width: 30px;
}


td.port
{
  border-bottom: 1px solid LightGray;
}

td.source
{
  border-bottom: 1px solid LightGray;
}

