body {
  font-size: 250%;
}

.ui-menu {
  width: 100%;
}
#menu_background {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #a00;
  opacity: 0.6;
}
#popup {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
}
