@import url(mobile.css)  all and (max-device-width: 1024px);
@import url(desktop.css) all and (min-device-width: 1024px);

/* Button */

a
{
  text-decoration: none;
}


div.search
{
  float: right;
  padding-left: 5px;
}

/* Server Side Table */

.sst_paginator
{
  text-align: right;
  padding-bottom: 5px;
}

.sst_numeric
{
  text-align: right;
}

div.sst
{
  padding-top: 10px;
  display: inline-block;
}

div.sst table
{
  border-spacing: 0px;
  border-collapse:collapse;
  width: 100%;
  cursor: default;
}

div.sst th
{
  border-bottom: 1px solid;
  padding-left: 4px;
  padding-right: 4px;
  text-align: left;
}

div.sst td
{
  vertical-align: top;
  padding-left: 4px;
  padding-right: 4px;
}

div.sst table tr:not(:last-child) td
{
  border-bottom: 1px solid #e0e0e0;
}

/*div.sst table tr:nth-child(odd) td*/
/*{*/
  /*background-color: #dfdfdf;*/
/*}*/

div.sst table tr:hover td
{
  background-color: #f5f5f5;
}

