@import url(mobile.css)  all and (max-device-width: 1024px);
@import url(desktop.css) all and (min-device-width: 1024px);

/* Button */

a
{
  text-decoration: none;
}


.button
{
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: bottom;
  white-space:nowrap;
}

.button:hover
{
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.button:active
{
  border-top-color: #1b435e;
  background: #1b435e;
}


/* Server Side Table */

.sst_paginator
{
  text-align: right;
  width: 400px;
  padding-bottom: 5px;
}

.sst_numeric
{
  text-align: right;
}

div.sst
{
  background: #fff;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
}

div.sst table
{
  border-spacing: 0px;
  border-collapse:collapse;
  width: 100%;
  cursor: default;
}

div.sst th
{
  border-bottom: 1px solid;
  text-align: left;
}

div.sst td
{
  vertical-align: top;
  padding-left: 4px;
}

div.sst table tr:not(:last-child) td
{
  border-bottom: 1px solid #e0e0e0;
}

/*div.sst table tr:nth-child(odd) td*/
/*{*/
  /*background-color: #dfdfdf;*/
/*}*/

div.sst table tr:hover td
{
  background-color: #f5f5f5;
}

