Source: tvdaemon
Section: misc
Priority: optional
Maintainer: André Roth <neolynx@gmail.com>
Build-Depends: debhelper (>= 8), dh-autoreconf, autopoint, pkg-config, libudev-dev, libconfig++8-dev, libjson-c-dev, libebml-dev, libmatroska-dev, libccrtp-dev, libavahi-client-dev, libdvbcsa-dev
Standards-Version: 3.9.3
Homepage: https://github.com/neolynx/tvdaemon/wiki
Vcs-Git: http://github.com/neolynx/tvdaemon.git
Vcs-Browser: https://github.com/neolynx/tvdaemon

Package: tvdaemon
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Suggests: dvb-apps
Description: digital tv server
 TV server for DVB (terrestrial, cable, satellite) and ATSC
