
div#sst_epg
{
  min-width: 900px;
}

.sst_duration
{
  text-align: right;
}

.sst_start
{
  text-align: right;
  font-size: small;
}

td.sst_name div:first-child
{
  font-weight: bold;
  float: left;
  max-width: 30em;
}

td.sst_name div:nth-child(2)
{
  text-align: right;
  float: right;
  font-size: small;
  padding-left: 1em;
}

td.sst_name div:nth-child(3)
{
  clear: both;
  font-size: small;
  max-width: 30em;
}

td.sst_name div:nth-child(4)
{
  clear: both;
  font-size: small;
  max-width: 30em;
}
