img.icon
{
  width: 70px;
  height: 70px;
}

img.icon_gray
{
  width: 70px;
  height: 70px;
  opacity: 0.2;
}


/* Setup Table */

div.setup
{
  display: inline-block;
}

table.setup
{
  padding: 10px;
  font-size: 80%;
  border-collapse: collapse;
}

table.setup td
{
  padding: 8px;
}

table.setup td.adapter
{
  vertical-align: middle;
  text-align: right;
  border-bottom: 1px solid LightGray;
}

td.adapter_last
{
  vertical-align: middle;
  text-align: right;
}

td.frontend
{
  border-bottom: 1px solid LightGray;
}

td.frontend_last
{
}


td.port
{
  border-bottom: 1px solid LightGray;
}

td.source
{
  border-bottom: 1px solid LightGray;
}

