div.back
{
  min-width: 650px; /* activate browser scrollbar if screen is less 650pixels wide */
  padding: 1px;
  background-image: url('../images/center_bg.jpg');
  background-attachment:fixed;
  background-repeat: repeat;
  background-position:center;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 20% 20%, 80%, 40% 80%, 100, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(20% 20%, farthest-corner, #1a82f7, #2F2727);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(20% 20%, farthest-corner, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(20% 20%, farthest-corner, #1a82f7, #2F2727);

  /* Opera cannot do radial gradients yet */

  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

div.header
{
  background-image: url('../images/TVDeamon_small.png'),url('../images/logo.png');
  background-position: left+5px top,0px 90px;
  background-repeat: no-repeat;
  width: 100%;
  height: 130px;
  /* Gradient color1 - color2 - color1  hr.style */
  #position: absolute;
  #top: 129px;
  #right: 0px;
  #border: 0;
  #height: 1px;
  #background: #333;
  #background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  #background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  #background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  #background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

div.content
{
 position: absolute;
  top: 131px;
  left: 2px;
  padding-bottom:40px;
  min-height: 100%-171px;
  height:auto;

}

div.footer
{
  background-image: url('../images/menu_bg.jpg');
  color:red;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 40px;
  z-index:+1;
}

img.iconstyle
{

 width=70;
 height=70;

}

img.grey
{
  opacity: 0.2;
}

.button
{
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: bottom;
  white-space:nowrap;
}

.button:hover
{
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.button:active
{
  border-top-color: #1b435e;
  background: #1b435e;
}

.paginator
{
  text-align: right;
}

.column_scrambled
{
  text-align: center;
}

.column_num
{
  text-align: right;
}

div.services
{
  background: #fff;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  min-width: 400px;
}

div.services table
{
  border-spacing: 0px;
  border-collapse:collapse;
  width: 100%;
}

div.services th
{
  border-bottom: 1px solid;
  text-align: left;
}

div.services td
{
  padding: 2px;
}

div.services tr:nth-child(odd) td
{
  background-color: #dfdfdf;
}

div.services tr:hover td
{
  background-color: #d0d0df;
}


table.configtable
{
  padding: 10px;
  left:10%;
}

td.adapter
{
  width:8em;
  word-wrap:break-word;
  border: 1px ;
  background-position:left;
  vertical-align: top;
  text-align: right;
}

td.frontend
{
 width:8em;
  word-wrap:break-word;
  border: 1px ;
  background-position:left;
  vertical-align: top;
}

td.port
{
 width:7em;
  word-wrap:break-word;

  border: 1px ;
  background-position:left;
  vertical-align: top;
}

td.source
{
 width:8em;
  word-wrap:break-word;
  border: 1px solid black;
  vertical-align: top;
}

